name: Lint

on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "v*"
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  super-linter:
    name: Super Linter
    uses: harryzcy/github-actions/.github/workflows/linter.yml@main

  rust-clippy:
    name: Rust Clippy
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      matrix:
        toolchain:
          - stable
          - nightly
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Set up Rust
        run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}

      - name: Install Clippy
        run: rustup component add clippy

      - name: Clippy
        run: cargo clippy --all-targets --all-features -- -D warnings
        env:
          CARGO_INCREMENTAL: "0"

  rust-machete:
    name: Rust Machete
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Machete
        uses: bnjbvr/cargo-machete@7959c845782fed02ee69303126d4a12d64f1db18 # v0.9.1

  spelling:
    name: Spelling
    uses: harryzcy/github-actions/.github/workflows/spelling.yml@main
