name: Build & Test

on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "v*"
  pull_request:
    branches:
      - main

permissions:
  contents: read

env:
  CARGO_TERM_COLOR: always

jobs:
  rust:
    name: Cargo
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        toolchain:
          - stable
          - beta
          - nightly
        runner:
          - ubuntu-24.04
        include:
          - toolchain: stable
            runner: ubuntu-22.04
          - toolchain: stable
            runner: ubuntu-22.04-arm
          - toolchain: stable
            runner: ubuntu-24.04-arm
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Rust
        run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}

      - name: Build
        run: cargo build --verbose
        env:
          CARGO_INCREMENTAL: "0"

      - name: Test
        run: cargo test --verbose

  docker:
    name: Docker
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Build docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          platforms: linux/amd64
          push: false
          tags: harryzcy/artifact-store:ci

      - name: Test docker image
        run: |
          docker run -d --rm --name artifact-store -p 3001:3001 harryzcy/artifact-store:ci
          sleep 5
          curl -sSf http://localhost:3001/ping
          echo
          docker stop artifact-store
